<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Household</h5>
          <p>
            <strong>{{tab.name}}</strong>
          </p>
          <p>
            <strong>{{tab.description}}</strong></p>
          <p>
            <strong>Outstanding Expenses</strong>:
            <br>{{expense.name}}
            <br>{{expense.cost}}
            <br>{{expense.username}}
          </p>
            <button id="new-expense">New Expense</button>
          </p>
          </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
